In [3]:
import pandas as pd
from sqlalchemy import create_engine
import os
import numpy as np

In [8]:
BS_file= "../HoneyBumbleBeez.github.io/Resources/Survey_ByState.csv"

BS_df= pd.read_csv(BS_file, encoding='utf8')
NewBee = BS_df.drop(['Week Ending', 'State ANSI', 'Watershed', 'CV (%)'], axis =1)
NewBee.rename(columns = {'Data Item':'Data'}, inplace = True) 

NewBee.rename(columns = {'Value':'Count'}, inplace = True) 
NewBee1 = NewBee[NewBee.Data != 'ADDED & REPLACED']
NewBee2= NewBee1[NewBee1.Data != "LOSS, COLONY COLLAPSE DISORDER"]
NewBee3 = NewBee2[NewBee2.Data != "LOSS, DEADOUT"]
NewBee3.head()

     Year        Period       State            Data      Count
450  2017  JAN THRU MAR     ALABAMA  INVENTORY, MAX      7,000
451  2017  JAN THRU MAR     ARIZONA  INVENTORY, MAX     32,000
452  2017  JAN THRU MAR    ARKANSAS  INVENTORY, MAX     20,000
453  2017  JAN THRU MAR  CALIFORNIA  INVENTORY, MAX  1,440,000
454  2017  JAN THRU MAR    COLORADO  INVENTORY, MAX     21,000

In [9]:
NewBee3.dtypes

Year       int64
Period    object
State     object
Data      object
Count     object
dtype: object

In [11]:
NewBee3 = NewBee3.astype({'Count':'int'})

In [12]:
NewBee3['Count'].replace(regex=True,inplace=True,to_replace=r'\\D',value=r'')

In [13]:
mark_Newbee = NewBee3[NewBee3["Period"] != "MARKETING YEAR"].copy()
no_first_df = mark_Newbee[~mark_Newbee["Period"].str.contains("FIRST")].copy()

In [185]:
x = no_first_df.groupby(['Year', 'Period']).sum()[["Count"]]
x.head()

                     Count
Year Period
2015 APR THRU JUN  4906840
     JAN THRU MAR  4654550
     JUL THRU SEP  4151340
     OCT THRU DEC  4232700
2016 APR THRU JUN  5117880