In [34]:
import pandas as pd
from sqlalchemy import create_engine
import os
import numpy as np

In [35]:
BS_file= "Resources/Survey_ByState.csv"

BS_df= pd.read_csv(BS_file, encoding='utf8')
NewBee = BS_df.drop(['Week Ending', 'State ANSI', 'Watershed', 'CV (%)'], axis =1)
NewBee.rename(columns = {'Data Item':'Data'}, inplace = True) 

NewBee.rename(columns = {'Value':'Count'}, inplace = True) 
NewBee1 = NewBee[NewBee.Data != 'ADDED & REPLACED']
NewBee2= NewBee1[NewBee1.Data != "LOSS, COLONY COLLAPSE DISORDER"]
NewBee3 = NewBee2[NewBee2.Data != "LOSS, DEADOUT"]
NewBee3.head()

     Year        Period       State            Data      Count
450  2017  JAN THRU MAR     ALABAMA  INVENTORY, MAX      7,000
451  2017  JAN THRU MAR     ARIZONA  INVENTORY, MAX     32,000
452  2017  JAN THRU MAR    ARKANSAS  INVENTORY, MAX     20,000
453  2017  JAN THRU MAR  CALIFORNIA  INVENTORY, MAX  1,440,000
454  2017  JAN THRU MAR    COLORADO  INVENTORY, MAX     21,000

In [36]:
NewBee3.dtypes

Year       int64
Period    object
State     object
Data      object
Count     object
dtype: object

In [37]:
NewBee3['Count'] = NewBee3.Count.str.replace(r",",'')
NewBee3

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

      Year          Period          State            Data    Count
450   2017    JAN THRU MAR        ALABAMA  INVENTORY, MAX     7000
451   2017    JAN THRU MAR        ARIZONA  INVENTORY, MAX    32000
452   2017    JAN THRU MAR       ARKANSAS  INVENTORY, MAX    20000
453   2017    JAN THRU MAR     CALIFORNIA  INVENTORY, MAX  1440000
454   2017    JAN THRU MAR       COLORADO  INVENTORY, MAX    21000
...    ...             ...            ...             ...      ...
3391  1987  MARKETING YEAR       VIRGINIA       INVENTORY    25000
3392  1987  MARKETING YEAR     WASHINGTON       INVENTORY    75000
3393  1987  MARKETING YEAR  WEST VIRGINIA       INVENTORY    21000
3394  1987  MARKETING YEAR      WISCONSIN       INVENTORY    92000
3395  1987  MARKETING YEAR        WYOMING       INVENTORY    39000

[2228 rows x 5 columns]

In [39]:
NewBee3['Count'] = NewBee3['Count'].astype(str).astype(int)
NewBee3

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

      Year          Period          State            Data    Count
450   2017    JAN THRU MAR        ALABAMA  INVENTORY, MAX     7000
451   2017    JAN THRU MAR        ARIZONA  INVENTORY, MAX    32000
452   2017    JAN THRU MAR       ARKANSAS  INVENTORY, MAX    20000
453   2017    JAN THRU MAR     CALIFORNIA  INVENTORY, MAX  1440000
454   2017    JAN THRU MAR       COLORADO  INVENTORY, MAX    21000
...    ...             ...            ...             ...      ...
3391  1987  MARKETING YEAR       VIRGINIA       INVENTORY    25000
3392  1987  MARKETING YEAR     WASHINGTON       INVENTORY    75000
3393  1987  MARKETING YEAR  WEST VIRGINIA       INVENTORY    21000
3394  1987  MARKETING YEAR      WISCONSIN       INVENTORY    92000
3395  1987  MARKETING YEAR        WYOMING       INVENTORY    39000

[2228 rows x 5 columns]

In [41]:
mark_Newbee = NewBee3[NewBee3["Period"] != "MARKETING YEAR"].copy()
no_first_df = mark_Newbee[~mark_Newbee["Period"].str.contains("FIRST")].copy()

In [42]:
x = no_first_df.groupby(['Year', 'Period']).sum()[["Count"]]
x.head()

                     Count
Year Period
2015 APR THRU JUN  3898200
     JAN THRU MAR  3610500
     JUL THRU SEP  3523200
     OCT THRU DEC  3704900
2016 APR THRU JUN  4008500

In [43]:
x.to_csv(r'CleanData/BeeCount.csv')